# Drop this file into /etc/systemd/system/fast-redirect.service
#
# This example configuration assumes that a user called 'fast-redirect' exists,
# and that you have installed fast-redirect in a venv at /opt/fast-redirect

[Unit]
Description=fast-redirect
After=network.target

[Service]
User=fast-redirect
Group=fast-redirect
WorkingDirectory=/opt/fast-redirect
ExecStart=/opt/fast-redirect/bin/fast-redirect
PrivateTmp=true
KillMode=mixed

Environment=DATABASE_PATH=/var/lib/fast-redirect.json

[Install]
WantedBy=multi-user.target
