Source: python3-cyberfusion-nodechup
Section: misc
Priority: optional
Maintainer: William Edwards <wedwards@cyberfusion.nl>
Build-Depends: python3-all, dh-python, debhelper (>= 10), python3-setuptools, pybuild-plugin-pyproject, python3-cyberfusion-common
Standards-Version: 4.3.0

Package: python3-cyberfusion-nodechup
Architecture: all
Depends: python3, ${python3:Depends}, ${misc:Depends}
Description: Use nodechup to install multiple Node.js versions.
 Use nodechup to install multiple Node.js versions.
