#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_NAME=python3-cyberfusion-fast-redirect
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installsystemd:
	dh_installsystemd --name=fast-redirect

execute_after_dh_installsystemd:
	dh_installsysusers
